#textarea
{
    height: 35rem;
    width: 60rem;
    font-size:14pt;
    resize:none;
}

#json-pretty{
    text-align: left;
    color: white;
    background-color: #000000a2;
}
#json-pretty:hover{
    color:#f3bc36;
}