logotext{
  float: left;
  margin-bottom: 5px;
  font-family: Cartograph CF;
  font-size: 35px;
  margin-left: 10px;
}
about{
  float: right;
  margin-bottom: 10px;
  font-family: Cartograph CF;
  font-size: 35px;
  margin-right: 10px;
}
tools{
  margin-right: 60px;
  font-family: Cartograph CF;
  font-size: 35px;
}
