/*Resetting CSS for every browser So that random borders don't show up in places*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Main Html Tag*/
html{
  background-color: #f6f5e3;
}
/*Style for the separator lines*/
hr{
  width: 100%;
  background-color: black;
  border: none;
  height: 1.1px;
  opacity: 70%;
}
/*Header Section*/
header{
  float: center;
}
a{
  text-decoration: none;
  color: #f43334;
}
logotext{
  float: left;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin-left: 10px;
}
about{
  float: right;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin-right: 10px;
}
tools{
  margin-right: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
}
/*Body Section*/
body{
  text-align: center;
}
/*Styles for Welcome info*/
.welcomeinfo{
  font-family: "Cartograph CF", sans-serif;
  font-size: 16px;
}
/*Styles fot the button*/
.started{
  margin: 1rem;
  cursor: pointer;
}
/*Footer Section*/
footer{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
/*Button Hover animations*/
button {
 font-size: 17px;
 font-family: inherit;
 font-weight: 500;
 padding: 4px;
 border-radius: 20px;
 border: none;
 background: linear-gradient(0deg, rgba(246, 245, 227) 0%, rgba(246, 245, 227) 47%, rgba(246, 245, 227) 47%, rgba(246, 245, 227) 100%);
}

button .button-content {
 display: flex;
 align-items: center;
 background: white;
 padding: 0.7em 1.5em;
 padding-left: 12px;
 border-radius: 16px;
}

button svg {
 width: 22px;
 height: 22px;
 margin-right: 6px;
 color: #ff0000;
 transition: transform 0.3s;
}

button:hover svg {
 transform: scale(1.2);
}