/*Resetting CSS for every browser So that random borders don't show up in places*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Main Html Tag*/
html{
  background-color: #f6f5e3;
}
/*Header Section*/
header{
  float: center;
}
a{
  text-decoration: none;
  color: #f43334;
}
